.about {
  padding-top: 116px;
  padding-bottom: 180px;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1440px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 63px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(9px);
    background: rgba(36, 49, 59, 0.9);
    z-index: -1;

    @media screen and (max-width: 1079px) {
      display: none;
    }
    @media screen and (max-width: 768px) {
      display: block;
      backdrop-filter: none;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.about__site-map {
  width: min(1520px, 100%);
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #fff;

  @media screen and (max-width: 1079px) {
    font-size: 24px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
    font-size: 12px;
    flex-direction: row-reverse;
  }

  div {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.about__container {
  width: min(1516px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 60px 60px 96px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 37px;

  @media screen and (max-width: 1440px) {
    padding: 20px;
  }
  @media screen and (max-width: 1079px) {
    width: fit-content;
    flex-direction: column-reverse;
    gap: 40px;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    gap: 0;
    background-color: transparent;
    border-radius: 0;
  }
}

.about__title {
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0.13em;
  color: #202020;

  @media screen and (max-width: 1440px) {
    font-size: 48px;
  }
  @media screen and (max-width: 1079px) {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    text-align: start;
  }
}

.about__description {
  max-width: 560px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 32px;
  color: #202020;

  @media screen and (max-width: 1440px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1079px) {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    max-width: 313px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-align: start;
  }
}

.about__btn {
  width: 461px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background: #eaeaea;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  transition: filter 200ms ease;

  @media screen and (max-width: 1440px) {
    width: 360px;
  }
  @media screen and (max-width: 1079px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 768px) {
    width: 181px;
    height: 29px;
    font-size: 12px;
    margin-left: 0;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }

  span {
    margin-left: auto;
    padding-left: 51px;

    @media screen and (max-width: 768px) {
      padding-left: 17px;
    }
  }

  div {
    width: 51px;
    height: 51px;
    margin-left: auto;
    margin-right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #f0d878;

    @media screen and (max-width: 768px) {
      width: 20px;
      height: 20px;
      margin-right: 6px;

      svg {
        width: 11px;
        height: 11px;
      }
    }
  }
}

.about__img {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
