.footer {
  padding-top: 47px;
  padding-bottom: 63px;
  background: #0d0d0d;
}

.footer__container {
  width: min(1540px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 32px;
    color: #fff;

    a {
      transition: filter 200ms ease;

      &:hover {
        filter: brightness(0.8);
      }
      &:active {
        filter: brightness(1);
      }
    }
  }
}

.footer__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
